* {
  box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}

html, body, .ember-application, .ember-view, .matches {
  height: 100%;
  font-size: 10px;
}

body {
  font-family: 'Avenir-Roman', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  
}

.matches {
  display: flex;
}

.main {
  width: 91.2rem;
  padding: 5rem;
  height: 100%;
  font-size: 5.4rem;
}

.sidebar {
  background-color: rgb(232, 232, 232);
  color: rgb(151, 151, 151);
  width: 16.8rem;
  overflow-y: scroll;
  display: flex;
  display: column nowrap;
  justify-content: center;
}

.full-name {
  display: none;
}

.photo {
  width: 12rem;
  height: 12rem;
  border-radius: 12rem;
  margin: 1rem 0;
  overflow-y: scroll;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 6rem;
  padding-bottom: 5rem;
  border-bottom: .5rem solid rgb(232, 232, 232);
}

.messages {
  position: absolute;
  margin-top: 18rem;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

.sent {
  padding-left: 40px;
  color: rgb(151, 151, 151);
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  font-size: 18px;
}

